<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <footer>
        <div class="container">
            <div class="footer-con">
                <div class="footer-lst">
                    <div class="footer-lft">
                        <div class="fotter-logo">
                            <img src="/images/footer-logo.png" alt="">
                        </div>
                        <p>We have clothes that suits your style and which you’re proud to wear. From women to men.</p>
                        <div class="footer-social">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-github" aria-hidden="true"></i>
                                        </i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-itm">
                        <div class="footer-link">
                            <ul>
                                <h5>Company</h5>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Works</a></li>
                                <li><a href="#">Career</a></li>
                            </ul>
                        </div>
                        <div class="footer-link">
                            <ul>
                                <h5>Help</h5>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Works</a></li>
                                <li><a href="#">Career</a></li>
                            </ul>
                        </div>
                        <div class="footer-link">
                            <ul>
                                <h5>FAQ</h5>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Works</a></li>
                                <li><a href="#">Career</a></li>
                            </ul>
                        </div>
                        <div class="footer-link">
                            <ul>
                                <h5>Resources</h5>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Works</a></li>
                                <li><a href="#">Career</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="copyright-lft">
                    <p>Shop.co © 2000-2023, All Rights Reserved</p>
                </div>
                <div class="account-card">
                    <ul>
                        <li><a href="#"><img src="/images/Visa.png" alt=""></a></li>
                        <li><a href="#"><img src="/images/Mastercard.png" alt=""></a></li>
                        <li><a href="#"><img src="/images/Paypal.png" alt=""></a></li>
                        <li><a href="#"><img src="/images/Pay.png" alt=""></a></li>
                        <li><a href="#"><img src="/images/GPay.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>