<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="header-sec">
            <div class="header-top">
                <p>Sign up and get 20% off to your first order. <a href="#"  id="openSignupBtn"> Sign Up Now</a></p>
                <!-- <div class="dark-mode" id="toggleTheme">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div> -->
            </div>
            <div class="header-con">
                <div class="container">
                    <div class="header-bootom">
                        <div class="headbotm-lft">
                            <div class="logo">
                                <img src="/images/logo.png" alt="">
                            </div>
                            <div class="navbar">
                                <ul class="nav-link">
                                    <li><a href="#">Shop</a></li>
                                    <li><a href="#">On Sale</a></li>
                                    <li><a href="#">New Arrivals</a></li>
                                    <li><a href="#">Brands</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="headbotm-rgt">
                            <div class="search">
                                <div class="srch-icon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                                <input type="text" placeholder="Search for products...">
                            </div>
                            <div class="carts-icon">
                                <a href="#"> <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="#" id="openLoginBtn"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script src="/js/script.js"></script>
</body>

</html>