<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Slick CSS via CDN -->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" type="text/css"
		href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
	<title>
		<%= title %>
	</title>

</head>

<body>
	<!-- header section start here  -->
	<%- include('partials/header') %>
		<!-- header section end here  -->

		<!-- banner section start here  -->
		<section class="banner-section">
			<div class="container">
				<div class="banner-con">
					<div class="banner-conlft">
						<h2>FIND CLOTHES THAT MATCHES YOUR STYLE</h2>
						<p>Browse through our diverse range of meticulously crafted garments, designed to bring out your
							individuality and cater to your sense of style.</p>
						<button class="btn">Shop Now</button>
						<div class="brands">
							<div class="brands-rate">
								<h5>200+</h5>
								<span>International Brands</span>
							</div>
							<div class="brands-rate">
								<h5>2,000+</h5>
								<span>International Brands</span>
							</div>
							<div class="brands-rate">
								<h5>30,000+</h5>
								<span>International Brands</span>
							</div>
						</div>
					</div>
					<div class="banner-conrgt">
						<img src="/images/banner-img.png" alt="">
					</div>
				</div>
			</div>
		</section>
		<!-- banner section end here  -->

		<!-- company logo section start  here -->
		<section class="company-logosec">
			<div class="container">
				<div class="companylogo-con">
					<div class="comp-logoimg">
						<img src="/images/versace.png" alt="">
					</div>
					<div class="comp-logoimg">
						<img src="/images/zara.png" alt="">
					</div>
					<div class="comp-logoimg">
						<img src="/images/gucci.png" alt="">
					</div>
					<div class="comp-logoimg">
						<img src="/images/prada.png" alt="">
					</div>
					<div class="comp-logoimg">
						<img src="/images/calvin.png" alt="">
					</div>
				</div>
			</div>
		</section>
		<!-- company logo section end here -->

		<!-- NEW ARRIVALS section start here  -->
		<section class="newarrv-sec">
			<div class="container">
				<div class="newarrv-con">
					<h2>NEW ARRIVALS</h2>

					<div class="newarrv-lst">
						<div class="newarrv-itm">
							<div class="newarrv-img">
								<img src="/images/newarrv1.png" alt="">
							</div>
							<div class="newarrv-detl">
								<h4>T-SHIRT WITH TAPE DETAILS</h4>
								<div class="rating">
									<div class="rate-img">
										<img src="/images/star.png" alt="">
									</div>
									<div class="rate-num">
										<span>4.5/5</span>
									</div>

								</div>
								<p>$120</p>
							</div>
						</div>
						<div class="newarrv-itm">
							<div class="newarrv-img">
								<img src="/images/newarrv2.png" alt="">
							</div>
							<div class="newarrv-detl">
								<h4>SKINNY FIT JEANS</h4>
								<div class="rating">
									<div class="rate-img">
										<img src="/images/star.png" alt="">
									</div>
									<div class="rate-num">
										<span>3.5/5</span>
									</div>

								</div>
								<div class="amount">
									<p>$120</p>
									<h6>$120</h6>
								</div>
							</div>
						</div>
						<div class="newarrv-itm">
							<div class="newarrv-img">
								<img src="/images/nwrarrv.png" alt="">
							</div>
							<div class="newarrv-detl">
								<h4>CHECKERED SHIRT</h4>
								<div class="rating">
									<div class="rate-img">
										<img src="/images/star.png" alt="">
									</div>
									<div class="rate-num">
										<span>3.5/5</span>
									</div>

								</div>
								<p>$180</p>
							</div>
						</div>
						<div class="newarrv-itm">
							<div class="newarrv-img">
								<img src="/images/newarrv4.png" alt="">
							</div>
							<div class="newarrv-detl">
								<h4>SLEEVE STRIPED T-SHIRT</h4>
								<div class="rating">
									<div class="rate-img">
										<img src="/images/star.png" alt="">
									</div>
									<div class="rate-num">
										<span>3.5/5</span>
									</div>

								</div>
								<p>$130</p>
							</div>
						</div>
					</div>
					<div class="globle-btn">
						<a class="gbl-btn" href="">View All</a>
					</div>
				</div>
			</div>
		</section>
		<!-- NEW ARRIVALS section end here  -->

		<!-- top selling section start here  -->
		<section class="topSpell-sec">
			<div class="container">
				<div class="newarrv-con">
					<h2>top selling</h2>

					<div class="newarrv-lst">
						<div class="newarrv-itm">
							<div class="newarrv-img">
								<img src="/images/newarrv1.png" alt="">
							</div>
							<div class="newarrv-detl">
								<h4>VERTICAL STRIPED SHIRT</h4>
								<div class="rating">
									<div class="rate-img">
										<img src="/images/star.png" alt="">
									</div>
									<div class="rate-num">
										<span>4.5/5</span>
									</div>

								</div>
								<p>$120</p>
							</div>
						</div>
						<div class="newarrv-itm">
							<div class="newarrv-img">
								<img src="/images/topselling-one.png" alt="">
							</div>
							<div class="newarrv-detl">
								<h4>COURAGE GRAPHIC T-SHIRT</h4>
								<div class="rating">
									<div class="rate-img">
										<img src="/images/star.png" alt="">
									</div>
									<div class="rate-num">
										<span>3.5/5</span>
									</div>

								</div>
								<div class="amount">
									<p>$120</p>
									<h6>$120</h6>
								</div>
							</div>
						</div>
						<div class="newarrv-itm">
							<div class="newarrv-img">
								<img src="/images/topselling-two.png" alt="">
							</div>
							<div class="newarrv-detl">
								<h4>LOOSE FIT BERMUDA SHORTS</h4>
								<div class="rating">
									<div class="rate-img">
										<img src="/images/star.png" alt="">
									</div>
									<div class="rate-num">
										<span>3.5/5</span>
									</div>

								</div>
								<p>$180</p>
							</div>
						</div>
						<div class="newarrv-itm">
							<div class="newarrv-img">
								<img src="/images/topselling-three.png" alt="">
							</div>
							<div class="newarrv-detl">
								<h4>FADED SKINNY JEANS</h4>
								<div class="rating">
									<div class="rate-img">
										<img src="/images/star.png" alt="">
									</div>
									<div class="rate-num">
										<span>3.5/5</span>
									</div>

								</div>
								<p>$130</p>
							</div>
						</div>
					</div>
					<div class="globle-btn">
						<a class="gbl-btn" href="">View All</a>
					</div>
				</div>
			</div>
		</section>
		<!-- top selling section end here  -->

		<!-- browse by dress style start here  -->
		<section class="brwsStyle-sec">
			<div class="container">
				<div class="brwsStyle-con">
					<h2>BROWSE BY DRESS STYLE</h2>
					<div class="brwsStyle-ltm">
						<div class="brwsStyle-ltmlft" style="background-image: url('/images/browse1.png');">
							<h4>Casual</h4>
						</div>
						<div class="brwsStyle-ltmrgt" style="background-image: url('/images/browse2.png');">
							<h4>Formal</h4>
						</div>
						<div class="brwsStyle-ltmrgt"
							style="background-image: url('/images/browse3.png'); margin-right: 20px;">
							<h4>Party</h4>
						</div>
						<div class="brwsStyle-ltmlft" style="background-image: url('/images/browse4.png');">
							<h4>Gym</h4>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- browse by dress style end here  -->

		<!-- our happy customer start here  -->
		<section class="ourhappy-sec">
			<div class="container">
				<div class="ourhapp-con">
					<h2>OUR HAPPY CUSTOMERS</h2>
					<div class="ourhapp-lst">
						<div class="ourhapp-slider">
							<div>
								<div class="ourhapp-itm">
									<img src="/images/happystar.png" alt="">
									<h5>Sarah M.</h5>
									p"I'm blown away by the quality and style of the clothes I received from Shop.co.
									From casual wear to elegant dresses, every piece I've bought has exceeded my
									expectations.”
								</div>
							</div>
							<div>
								<div class="ourhapp-itm">
									<img src="/images/happystar.png" alt="">
									<h5>Sarah M.</h5>
									p"I'm blown away by the quality and style of the clothes I received from Shop.co.
									From casual wear to elegant dresses, every piece I've bought has exceeded my
									expectations.”
								</div>
							</div>
							<div>
								<div class="ourhapp-itm">
									<img src="/images/happystar.png" alt="">
									<h5>Sarah M.</h5>
									p"I'm blown away by the quality and style of the clothes I received from Shop.co.
									From casual wear to elegant dresses, every piece I've bought has exceeded my
									expectations.”
								</div>
							</div>
							<div>
								<div class="ourhapp-itm">
									<img src="/images/happystar.png" alt="">
									<h5>Sarah M.</h5>
									p"I'm blown away by the quality and style of the clothes I received from Shop.co.
									From casual wear to elegant dresses, every piece I've bought has exceeded my
									expectations.”
								</div>
							</div>
							<div>
								<div class="ourhapp-itm">
									<img src="/images/happystar.png" alt="">
									<h5>Sarah M.</h5>
									p"I'm blown away by the quality and style of the clothes I received from Shop.co.
									From casual wear to elegant dresses, every piece I've bought has exceeded my
									expectations.”
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- our happy customer end here  -->

		<!-- latest offer section start  -->
		<section class="latstoffer-sec">
			<div class="container">
				<div class="lstoffer-con">
					<div class="offer-itm">
						<div class="offer-itmlft">
							<h2>STAY UPTO DATE ABOUT OUR LATEST OFFERS</h2>
						</div>
						<div class="offer-itmrgt">
							<div class="email-address">
								<i class="fa fa-envelope-o" aria-hidden="true"></i>
								<input type="text" placeholder="Enter your email address">
							</div>
							<div class="email-address news-btn">
								<p>Subscribe to Newsletter</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- latest offer section end  -->



		<!-- footer section start here  -->
		<%- include('partials/footer') %>
			<!-- footer section end here  -->




			<!-- signup popup here  -->

			<div class="login-popup-sec modal" id="signupModal">
				<div class="login-popup">
					<div class="login-con">
						<div class="login">
							<h2>Create an account</h2>
							<span class="close-btn" id="closeSignupBtn">&times;</span>
							<div class="form-sec">
								<div class="form-input">
									<label for="email">Email</label>
									<input type="text" name="email" id="email" placeholder="enter a email">
								</div>
								<div class="form-input">
									<div class="password">
										<label for="email">Password</label>
										<a href="#">Forgot？</a>
									</div>
									<input type="password" name="password" id="password" placeholder="enter a password">
								</div>
							</div>
							<div class="login-gblbtn">
								<div class="lgin-btn">
									<button>Create account</button>
								</div>
								<div class="lgin-btn google-btn">
									<button>
										<img src="/images/Google.png" alt="" style="margin-right: 10px;">
										Continue with Google
									</button>
								</div>
							</div>
							<p>Already have an account ? <a href="#"  id="switchToLogin">Log in</a></p>
						</div>
					</div>
				</div>
			</div>


			<!-- login popup start here  -->

			<div class="login-popup-sec modal"id="loginModal">
				<div class="login-popup">
					<div class="login-con">
						<div class="login">
							<h2>Login to your account</h2>
							<span class="close-btn" id="closeLoginBtn">&times;</span>
							<div class="form-sec">
								<div class="form-input">
									<label for="email">Email</label>
									<input type="text" name="email" id="email" placeholder="enter a email">
								</div>
								<div class="form-input">
									<div class="password">
										<label for="email">Password</label>
										<a href="#">Forgot？</a>
									</div>
									<input type="password" name="password" id="password" placeholder="enter a password">
								</div>
							</div>
							<div class="login-gblbtn">
								<div class="lgin-btn">
									<button>Login now</button>
								</div>

							</div>
							<p>Already have an account ? <a href="#" id="switchToSignup">Sign up</a></p>
						</div>
					</div>
				</div>
			</div>


			<!-- script start link  -->

			<!-- jQuery + Slick JS via CDN -->
			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
			<script>
				$(document).ready(function () {
					$('.ourhapp-slider').slick({
						dots: true,
						infinite: true,
						slidesToShow: 3,
						slidesToScroll: 1,
						autoplay: true,
						autoplaySpeed: 3000,
						arrows: true,
						responsive: [
							{
								breakpoint: 768,
								settings: {
									slidesToShow: 1
								}
							}
						]
					});
				});

				// Get elements
				const loginModal = document.getElementById('loginModal');
				const signupModal = document.getElementById('signupModal');

				const openLoginBtn = document.getElementById('openLoginBtn');
				const openSignupBtn = document.getElementById('openSignupBtn');

				const closeLoginBtn = document.getElementById('closeLoginBtn');
				const closeSignupBtn = document.getElementById('closeSignupBtn');

				const switchToLogin = document.getElementById('switchToLogin');
				const switchToSignup = document.getElementById('switchToSignup');

				// Open modals
				openLoginBtn.onclick = (e) => {
					e.preventDefault();
					loginModal.style.display = 'block';
				};

				openSignupBtn.onclick = (e) => {
					e.preventDefault();
					signupModal.style.display = 'block';
				};

				// Close modals
				closeLoginBtn.onclick = () => loginModal.style.display = 'none';
				closeSignupBtn.onclick = () => signupModal.style.display = 'none';

				// Switch between modals
				switchToSignup.onclick = (e) => {
					e.preventDefault();
					loginModal.style.display = 'none';
					signupModal.style.display = 'block';
				};

				switchToLogin.onclick = (e) => {
					e.preventDefault();
					signupModal.style.display = 'none';
					loginModal.style.display = 'block';
				};

				// Close on outside click
				window.onclick = function (event) {
					if (event.target === loginModal) loginModal.style.display = 'none';
					if (event.target === signupModal) signupModal.style.display = 'none';
				};
			</script>

</body>

</html>